body {
	font-family: Helvetica, sans-serif;
	color: #000000;
	margin: 0;
	padding: 0;
	height: 100%;
}

input {
	text-align: center;
	border: 1px solid #c0c0c0;
}

input:hover {
	border-color: #000000;
}

button {
	border: 1px solid #c0c0c0;
	background-color: #f0f0f0;
	padding: 5px;
}

button:hover {
	border-color: #000000;
	cursor: pointer;
}

#metronome-advanced-controls {
	position: absolute;
	top: 10px;
	left: 10px;
}
#metronome-advanced-controls * {
	font-size: 125%;
}

#show-help {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

#metronome {
	border: 1px solid #c0c0c0;
	text-align: center;
	width: 318px;
	height: 458px;
	vertical-align: middle;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: table;
}

#metronome > div {
	margin-bottom: 10px;
	height: 80px;
	line-height: 80px;
}

#tempo-helpers {
	margin-top: 10px;
}
#tempo-helpers button {
	font-size: 125%;
}

#tempo {
	font-size: 300%;
	width: 4em;
	height: 60px;
}

#time {
	width: 4em;
}

#controls button {
	font-size: 300%;
}

#visual-target {
	font-size: 300%;
}
.downbeat #visual-target,
.strong #visual-target {
	font-size: 400%;
}
.downbeat #visual-target {
	font-weight: bold;
}

@media(max-width: 768px) {
	#metronome {
		height: 380px;
		border-width: 0px;
	}
	#options {
		display: none;
	}
	#metronome-advanced-controls {
		display: none;
	}
}
