body {
	font-family: Helvetica, sans-serif;
	background-color: #fafafa;
	color: black;
	margin: 0;
	padding: 0;
	height: 100%;
}

input {
	text-align: center;
	border: 1px solid #c0c0c0;
}

button {
	border: 1px solid #c0c0c0;
	background-color: #f0f0f0;
}

button:hover {
	border-color: #000000;
	cursor: pointer;
}

#metronome {
	background-color: white;
	text-align: center;
	width: 320px;
	height: 480px;
	vertical-align: middle;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: table;
}

#show-help {
	position: absolute;
	top: 10px;
	right: 10px;
}

#popout {
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 125%;
}

#metronome > div {
	margin: 10px 0;
	height: 70px;
	line-height: 70px;
}

#tempo-helpers > div {
	line-height: 1em;
}

#tempo {
	font-size: 300%;
	width: 4em;
	height: 60px;
}

#time {
	width: 4em;
}

#controls button {
	font-size: 300%;
}

#options label {
	display: block;
}

#visual-target {
	font-size: 300%;
}

.downbeat #visual-target {
	color: green;
}

.strong #visual-target {
	color: blue;
}

.weak #visual-target {
	color: black;
}

@media(max-width: 768px) {
	#popout {
		display: none;
	}
}
